<%- include("partials/header") -%>
<h1 class="title">Journal Index</h1>
    <% posts.forEach(function(post){ %>
        <div class="header-part">
            <div class="titleDates">
                <a class = "linkTitle" href="/posts/<%= post._id %>"><h2><%= post.postTitle %></h2></a>
                <p class="date"><%= post.postDate %></p>
            </div>
            <div class="buttons">
                <form action="/delete" method="POST">
                    <label for="deleteButton"></label>
                    <button type="submit" id="deleteButton" class="addButtons deleteButton" name="id" value="<%= post._id %>">
                        <i class="fas fa-minus-square"></i>         
                    </button>
                </form>
                <form action="/update" method="POST">
                    <label for="updateButton"></label>
                    <button type="submit" id="updateButton" class="addButtons updateButton" name="id"  value="<%= post._id %>">
                        <i class="fas fa-edit"></i>
                    </button>
                </form>
            </div>
        
        </div>

        <% if (post.postBody.length < 100){ %>
            <p><%= post.postBody %></p>
            
            <% }else{ %>
        <p><%= post.postBody.substring(0, 100) + "..." %><a href="/posts/<%= post._id %>">Read More</a></p>
    <% } %>

 <% }); %>


<%- include("partials/footer") -%>